Fase 2/[IPC2]Fase2J15_201313819/[IPC2]Fase2J15_201313819/Service References/servicioweb/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Quetzal_Express.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Quetzal_Express.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Quetzal_Express.org/">
      <s:element name="conectarServidor">
        <s:complexType />
      </s:element>
      <s:element name="conectarServidorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conectarServidorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tabla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="noClinte">
        <s:complexType />
      </s:element>
      <s:element name="noClinteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="noClinteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busqueda_nombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDMask" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busqueda_nombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda_nombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservados_consulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDMask" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservados_consultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reservados_consultaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busqueda_autor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDMask" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busqueda_autorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda_autorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busqueda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDMask" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busquedaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busquedaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busquetarjetaexiste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notarjeta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="busquetarjetaexisteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="busquetarjetaexisteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuario_verificar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usuario_verificarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario_verificarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="empleado_verificar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="empleado_verificarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empleado_verificarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="noEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="noEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="noEmpleadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_sucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombresucur" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_sucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="select_sucursalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificar_depa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombredepa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sucur" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificar_depaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verificar_depaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_cliente_sesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_Cliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_cliente_sesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_cliente_sesionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_empleado_sesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_Empleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_empleado_sesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_empleado_sesionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_empleado_sede">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_Empleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_empleado_sedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_empleado_sedeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comision_sede">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sede" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comision_sedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="comision_sedeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="peso_sede">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sede" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="peso_sedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="peso_sedeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_administrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_administradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_administradorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_admin_sede">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ID_Empleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_admin_sedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_admin_sedeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_director">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_directorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_directorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_tipo">
        <s:complexType />
      </s:element>
      <s:element name="id_tipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_tipoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="departamentodirector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_session" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="departamentodirectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="departamentodirectorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="id_sesion">
        <s:complexType />
      </s:element>
      <s:element name="id_sesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_sesionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bulkinsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bulkinsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bulkinsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bulkinsert_paquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bulkinsert_paqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bulkinsert_paqueteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bulkinsert_impuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bulkinsert_impuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bulkinsert_impuestoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fechahoy">
        <s:complexType />
      </s:element>
      <s:element name="fechahoyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechahoyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Impuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_ImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_ImpuestoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Comision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_ComisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_ComisionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_datos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tabla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_datosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_datosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="despedir_empleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="despedir_empleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="despedir_empleadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_cobropeso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_cobropesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_cobropesoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="impuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="impuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="impuestoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="idlote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="idloteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idloteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="empleado_sede">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="empleado_sedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empleado_sedeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacturaImagen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacturaImagenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FacturaImagenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombrePaquete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cambiodeestadopaqueteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaquetecliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombrePaquete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaqueteclienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cambiodeestadopaqueteclienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaquetedirec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombrePaquete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaquetedirecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cambiodeestadopaquetedirecResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaquetedirecno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombrePaquete" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiodeestadopaquetedirecnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cambiodeestadopaquetedirecnoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="conectarServidorSoapIn">
    <wsdl:part name="parameters" element="tns:conectarServidor" />
  </wsdl:message>
  <wsdl:message name="conectarServidorSoapOut">
    <wsdl:part name="parameters" element="tns:conectarServidorResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="noClinteSoapIn">
    <wsdl:part name="parameters" element="tns:noClinte" />
  </wsdl:message>
  <wsdl:message name="noClinteSoapOut">
    <wsdl:part name="parameters" element="tns:noClinteResponse" />
  </wsdl:message>
  <wsdl:message name="busqueda_nombreSoapIn">
    <wsdl:part name="parameters" element="tns:busqueda_nombre" />
  </wsdl:message>
  <wsdl:message name="busqueda_nombreSoapOut">
    <wsdl:part name="parameters" element="tns:busqueda_nombreResponse" />
  </wsdl:message>
  <wsdl:message name="reservados_consultaSoapIn">
    <wsdl:part name="parameters" element="tns:reservados_consulta" />
  </wsdl:message>
  <wsdl:message name="reservados_consultaSoapOut">
    <wsdl:part name="parameters" element="tns:reservados_consultaResponse" />
  </wsdl:message>
  <wsdl:message name="busqueda_autorSoapIn">
    <wsdl:part name="parameters" element="tns:busqueda_autor" />
  </wsdl:message>
  <wsdl:message name="busqueda_autorSoapOut">
    <wsdl:part name="parameters" element="tns:busqueda_autorResponse" />
  </wsdl:message>
  <wsdl:message name="busquedaSoapIn">
    <wsdl:part name="parameters" element="tns:busqueda" />
  </wsdl:message>
  <wsdl:message name="busquedaSoapOut">
    <wsdl:part name="parameters" element="tns:busquedaResponse" />
  </wsdl:message>
  <wsdl:message name="busquetarjetaexisteSoapIn">
    <wsdl:part name="parameters" element="tns:busquetarjetaexiste" />
  </wsdl:message>
  <wsdl:message name="busquetarjetaexisteSoapOut">
    <wsdl:part name="parameters" element="tns:busquetarjetaexisteResponse" />
  </wsdl:message>
  <wsdl:message name="usuario_verificarSoapIn">
    <wsdl:part name="parameters" element="tns:usuario_verificar" />
  </wsdl:message>
  <wsdl:message name="usuario_verificarSoapOut">
    <wsdl:part name="parameters" element="tns:usuario_verificarResponse" />
  </wsdl:message>
  <wsdl:message name="empleado_verificarSoapIn">
    <wsdl:part name="parameters" element="tns:empleado_verificar" />
  </wsdl:message>
  <wsdl:message name="empleado_verificarSoapOut">
    <wsdl:part name="parameters" element="tns:empleado_verificarResponse" />
  </wsdl:message>
  <wsdl:message name="noEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:noEmpleado" />
  </wsdl:message>
  <wsdl:message name="noEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:noEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="select_sucursalSoapIn">
    <wsdl:part name="parameters" element="tns:select_sucursal" />
  </wsdl:message>
  <wsdl:message name="select_sucursalSoapOut">
    <wsdl:part name="parameters" element="tns:select_sucursalResponse" />
  </wsdl:message>
  <wsdl:message name="verificar_depaSoapIn">
    <wsdl:part name="parameters" element="tns:verificar_depa" />
  </wsdl:message>
  <wsdl:message name="verificar_depaSoapOut">
    <wsdl:part name="parameters" element="tns:verificar_depaResponse" />
  </wsdl:message>
  <wsdl:message name="id_cliente_sesionSoapIn">
    <wsdl:part name="parameters" element="tns:id_cliente_sesion" />
  </wsdl:message>
  <wsdl:message name="id_cliente_sesionSoapOut">
    <wsdl:part name="parameters" element="tns:id_cliente_sesionResponse" />
  </wsdl:message>
  <wsdl:message name="id_empleado_sesionSoapIn">
    <wsdl:part name="parameters" element="tns:id_empleado_sesion" />
  </wsdl:message>
  <wsdl:message name="id_empleado_sesionSoapOut">
    <wsdl:part name="parameters" element="tns:id_empleado_sesionResponse" />
  </wsdl:message>
  <wsdl:message name="id_empleado_sedeSoapIn">
    <wsdl:part name="parameters" element="tns:id_empleado_sede" />
  </wsdl:message>
  <wsdl:message name="id_empleado_sedeSoapOut">
    <wsdl:part name="parameters" element="tns:id_empleado_sedeResponse" />
  </wsdl:message>
  <wsdl:message name="comision_sedeSoapIn">
    <wsdl:part name="parameters" element="tns:comision_sede" />
  </wsdl:message>
  <wsdl:message name="comision_sedeSoapOut">
    <wsdl:part name="parameters" element="tns:comision_sedeResponse" />
  </wsdl:message>
  <wsdl:message name="peso_sedeSoapIn">
    <wsdl:part name="parameters" element="tns:peso_sede" />
  </wsdl:message>
  <wsdl:message name="peso_sedeSoapOut">
    <wsdl:part name="parameters" element="tns:peso_sedeResponse" />
  </wsdl:message>
  <wsdl:message name="id_administradorSoapIn">
    <wsdl:part name="parameters" element="tns:id_administrador" />
  </wsdl:message>
  <wsdl:message name="id_administradorSoapOut">
    <wsdl:part name="parameters" element="tns:id_administradorResponse" />
  </wsdl:message>
  <wsdl:message name="id_admin_sedeSoapIn">
    <wsdl:part name="parameters" element="tns:id_admin_sede" />
  </wsdl:message>
  <wsdl:message name="id_admin_sedeSoapOut">
    <wsdl:part name="parameters" element="tns:id_admin_sedeResponse" />
  </wsdl:message>
  <wsdl:message name="id_directorSoapIn">
    <wsdl:part name="parameters" element="tns:id_director" />
  </wsdl:message>
  <wsdl:message name="id_directorSoapOut">
    <wsdl:part name="parameters" element="tns:id_directorResponse" />
  </wsdl:message>
  <wsdl:message name="id_tipoSoapIn">
    <wsdl:part name="parameters" element="tns:id_tipo" />
  </wsdl:message>
  <wsdl:message name="id_tipoSoapOut">
    <wsdl:part name="parameters" element="tns:id_tipoResponse" />
  </wsdl:message>
  <wsdl:message name="departamentodirectorSoapIn">
    <wsdl:part name="parameters" element="tns:departamentodirector" />
  </wsdl:message>
  <wsdl:message name="departamentodirectorSoapOut">
    <wsdl:part name="parameters" element="tns:departamentodirectorResponse" />
  </wsdl:message>
  <wsdl:message name="id_sesionSoapIn">
    <wsdl:part name="parameters" element="tns:id_sesion" />
  </wsdl:message>
  <wsdl:message name="id_sesionSoapOut">
    <wsdl:part name="parameters" element="tns:id_sesionResponse" />
  </wsdl:message>
  <wsdl:message name="bulkinsertSoapIn">
    <wsdl:part name="parameters" element="tns:bulkinsert" />
  </wsdl:message>
  <wsdl:message name="bulkinsertSoapOut">
    <wsdl:part name="parameters" element="tns:bulkinsertResponse" />
  </wsdl:message>
  <wsdl:message name="bulkinsert_paqueteSoapIn">
    <wsdl:part name="parameters" element="tns:bulkinsert_paquete" />
  </wsdl:message>
  <wsdl:message name="bulkinsert_paqueteSoapOut">
    <wsdl:part name="parameters" element="tns:bulkinsert_paqueteResponse" />
  </wsdl:message>
  <wsdl:message name="bulkinsert_impuestoSoapIn">
    <wsdl:part name="parameters" element="tns:bulkinsert_impuesto" />
  </wsdl:message>
  <wsdl:message name="bulkinsert_impuestoSoapOut">
    <wsdl:part name="parameters" element="tns:bulkinsert_impuestoResponse" />
  </wsdl:message>
  <wsdl:message name="fechahoySoapIn">
    <wsdl:part name="parameters" element="tns:fechahoy" />
  </wsdl:message>
  <wsdl:message name="fechahoySoapOut">
    <wsdl:part name="parameters" element="tns:fechahoyResponse" />
  </wsdl:message>
  <wsdl:message name="Update_ImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Impuesto" />
  </wsdl:message>
  <wsdl:message name="Update_ImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:Update_ImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="Update_ComisionSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Comision" />
  </wsdl:message>
  <wsdl:message name="Update_ComisionSoapOut">
    <wsdl:part name="parameters" element="tns:Update_ComisionResponse" />
  </wsdl:message>
  <wsdl:message name="Update_datosSoapIn">
    <wsdl:part name="parameters" element="tns:Update_datos" />
  </wsdl:message>
  <wsdl:message name="Update_datosSoapOut">
    <wsdl:part name="parameters" element="tns:Update_datosResponse" />
  </wsdl:message>
  <wsdl:message name="despedir_empleadoSoapIn">
    <wsdl:part name="parameters" element="tns:despedir_empleado" />
  </wsdl:message>
  <wsdl:message name="despedir_empleadoSoapOut">
    <wsdl:part name="parameters" element="tns:despedir_empleadoResponse" />
  </wsdl:message>
  <wsdl:message name="Update_cobropesoSoapIn">
    <wsdl:part name="parameters" element="tns:Update_cobropeso" />
  </wsdl:message>
  <wsdl:message name="Update_cobropesoSoapOut">
    <wsdl:part name="parameters" element="tns:Update_cobropesoResponse" />
  </wsdl:message>
  <wsdl:message name="impuestoSoapIn">
    <wsdl:part name="parameters" element="tns:impuesto" />
  </wsdl:message>
  <wsdl:message name="impuestoSoapOut">
    <wsdl:part name="parameters" element="tns:impuestoResponse" />
  </wsdl:message>
  <wsdl:message name="idloteSoapIn">
    <wsdl:part name="parameters" element="tns:idlote" />
  </wsdl:message>
  <wsdl:message name="idloteSoapOut">
    <wsdl:part name="parameters" element="tns:idloteResponse" />
  </wsdl:message>
  <wsdl:message name="empleado_sedeSoapIn">
    <wsdl:part name="parameters" element="tns:empleado_sede" />
  </wsdl:message>
  <wsdl:message name="empleado_sedeSoapOut">
    <wsdl:part name="parameters" element="tns:empleado_sedeResponse" />
  </wsdl:message>
  <wsdl:message name="FacturaImagenSoapIn">
    <wsdl:part name="parameters" element="tns:FacturaImagen" />
  </wsdl:message>
  <wsdl:message name="FacturaImagenSoapOut">
    <wsdl:part name="parameters" element="tns:FacturaImagenResponse" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaquete" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaqueteclienteSoapIn">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaquetecliente" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaqueteclienteSoapOut">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaqueteclienteResponse" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaquetedirecSoapIn">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaquetedirec" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaquetedirecSoapOut">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaquetedirecResponse" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaquetedirecnoSoapIn">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaquetedirecno" />
  </wsdl:message>
  <wsdl:message name="cambiodeestadopaquetedirecnoSoapOut">
    <wsdl:part name="parameters" element="tns:cambiodeestadopaquetedirecnoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="conectarServidor">
      <wsdl:input message="tns:conectarServidorSoapIn" />
      <wsdl:output message="tns:conectarServidorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input message="tns:RegistrarSoapIn" />
      <wsdl:output message="tns:RegistrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="noClinte">
      <wsdl:input message="tns:noClinteSoapIn" />
      <wsdl:output message="tns:noClinteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="busqueda_nombre">
      <wsdl:input message="tns:busqueda_nombreSoapIn" />
      <wsdl:output message="tns:busqueda_nombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reservados_consulta">
      <wsdl:input message="tns:reservados_consultaSoapIn" />
      <wsdl:output message="tns:reservados_consultaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="busqueda_autor">
      <wsdl:input message="tns:busqueda_autorSoapIn" />
      <wsdl:output message="tns:busqueda_autorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="busqueda">
      <wsdl:input message="tns:busquedaSoapIn" />
      <wsdl:output message="tns:busquedaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="busquetarjetaexiste">
      <wsdl:input message="tns:busquetarjetaexisteSoapIn" />
      <wsdl:output message="tns:busquetarjetaexisteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="usuario_verificar">
      <wsdl:input message="tns:usuario_verificarSoapIn" />
      <wsdl:output message="tns:usuario_verificarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="empleado_verificar">
      <wsdl:input message="tns:empleado_verificarSoapIn" />
      <wsdl:output message="tns:empleado_verificarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="noEmpleado">
      <wsdl:input message="tns:noEmpleadoSoapIn" />
      <wsdl:output message="tns:noEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_sucursal">
      <wsdl:input message="tns:select_sucursalSoapIn" />
      <wsdl:output message="tns:select_sucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificar_depa">
      <wsdl:input message="tns:verificar_depaSoapIn" />
      <wsdl:output message="tns:verificar_depaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_cliente_sesion">
      <wsdl:input message="tns:id_cliente_sesionSoapIn" />
      <wsdl:output message="tns:id_cliente_sesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_empleado_sesion">
      <wsdl:input message="tns:id_empleado_sesionSoapIn" />
      <wsdl:output message="tns:id_empleado_sesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_empleado_sede">
      <wsdl:input message="tns:id_empleado_sedeSoapIn" />
      <wsdl:output message="tns:id_empleado_sedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="comision_sede">
      <wsdl:input message="tns:comision_sedeSoapIn" />
      <wsdl:output message="tns:comision_sedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="peso_sede">
      <wsdl:input message="tns:peso_sedeSoapIn" />
      <wsdl:output message="tns:peso_sedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_administrador">
      <wsdl:input message="tns:id_administradorSoapIn" />
      <wsdl:output message="tns:id_administradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_admin_sede">
      <wsdl:input message="tns:id_admin_sedeSoapIn" />
      <wsdl:output message="tns:id_admin_sedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_director">
      <wsdl:input message="tns:id_directorSoapIn" />
      <wsdl:output message="tns:id_directorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_tipo">
      <wsdl:input message="tns:id_tipoSoapIn" />
      <wsdl:output message="tns:id_tipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="departamentodirector">
      <wsdl:input message="tns:departamentodirectorSoapIn" />
      <wsdl:output message="tns:departamentodirectorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="id_sesion">
      <wsdl:input message="tns:id_sesionSoapIn" />
      <wsdl:output message="tns:id_sesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bulkinsert">
      <wsdl:input message="tns:bulkinsertSoapIn" />
      <wsdl:output message="tns:bulkinsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bulkinsert_paquete">
      <wsdl:input message="tns:bulkinsert_paqueteSoapIn" />
      <wsdl:output message="tns:bulkinsert_paqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bulkinsert_impuesto">
      <wsdl:input message="tns:bulkinsert_impuestoSoapIn" />
      <wsdl:output message="tns:bulkinsert_impuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fechahoy">
      <wsdl:input message="tns:fechahoySoapIn" />
      <wsdl:output message="tns:fechahoySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Impuesto">
      <wsdl:input message="tns:Update_ImpuestoSoapIn" />
      <wsdl:output message="tns:Update_ImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Comision">
      <wsdl:input message="tns:Update_ComisionSoapIn" />
      <wsdl:output message="tns:Update_ComisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_datos">
      <wsdl:input message="tns:Update_datosSoapIn" />
      <wsdl:output message="tns:Update_datosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="despedir_empleado">
      <wsdl:input message="tns:despedir_empleadoSoapIn" />
      <wsdl:output message="tns:despedir_empleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_cobropeso">
      <wsdl:input message="tns:Update_cobropesoSoapIn" />
      <wsdl:output message="tns:Update_cobropesoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="impuesto">
      <wsdl:input message="tns:impuestoSoapIn" />
      <wsdl:output message="tns:impuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="idlote">
      <wsdl:input message="tns:idloteSoapIn" />
      <wsdl:output message="tns:idloteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="empleado_sede">
      <wsdl:input message="tns:empleado_sedeSoapIn" />
      <wsdl:output message="tns:empleado_sedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FacturaImagen">
      <wsdl:input message="tns:FacturaImagenSoapIn" />
      <wsdl:output message="tns:FacturaImagenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquete">
      <wsdl:input message="tns:cambiodeestadopaqueteSoapIn" />
      <wsdl:output message="tns:cambiodeestadopaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetecliente">
      <wsdl:input message="tns:cambiodeestadopaqueteclienteSoapIn" />
      <wsdl:output message="tns:cambiodeestadopaqueteclienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetedirec">
      <wsdl:input message="tns:cambiodeestadopaquetedirecSoapIn" />
      <wsdl:output message="tns:cambiodeestadopaquetedirecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetedirecno">
      <wsdl:input message="tns:cambiodeestadopaquetedirecnoSoapIn" />
      <wsdl:output message="tns:cambiodeestadopaquetedirecnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="conectarServidor">
      <soap:operation soapAction="http://Quetzal_Express.org/conectarServidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://Quetzal_Express.org/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="noClinte">
      <soap:operation soapAction="http://Quetzal_Express.org/noClinte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busqueda_nombre">
      <soap:operation soapAction="http://Quetzal_Express.org/busqueda_nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservados_consulta">
      <soap:operation soapAction="http://Quetzal_Express.org/reservados_consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busqueda_autor">
      <soap:operation soapAction="http://Quetzal_Express.org/busqueda_autor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busqueda">
      <soap:operation soapAction="http://Quetzal_Express.org/busqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busquetarjetaexiste">
      <soap:operation soapAction="http://Quetzal_Express.org/busquetarjetaexiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuario_verificar">
      <soap:operation soapAction="http://Quetzal_Express.org/usuario_verificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empleado_verificar">
      <soap:operation soapAction="http://Quetzal_Express.org/empleado_verificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="noEmpleado">
      <soap:operation soapAction="http://Quetzal_Express.org/noEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_sucursal">
      <soap:operation soapAction="http://Quetzal_Express.org/select_sucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificar_depa">
      <soap:operation soapAction="http://Quetzal_Express.org/verificar_depa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_cliente_sesion">
      <soap:operation soapAction="http://Quetzal_Express.org/id_cliente_sesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_empleado_sesion">
      <soap:operation soapAction="http://Quetzal_Express.org/id_empleado_sesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_empleado_sede">
      <soap:operation soapAction="http://Quetzal_Express.org/id_empleado_sede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comision_sede">
      <soap:operation soapAction="http://Quetzal_Express.org/comision_sede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="peso_sede">
      <soap:operation soapAction="http://Quetzal_Express.org/peso_sede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_administrador">
      <soap:operation soapAction="http://Quetzal_Express.org/id_administrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_admin_sede">
      <soap:operation soapAction="http://Quetzal_Express.org/id_admin_sede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_director">
      <soap:operation soapAction="http://Quetzal_Express.org/id_director" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_tipo">
      <soap:operation soapAction="http://Quetzal_Express.org/id_tipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="departamentodirector">
      <soap:operation soapAction="http://Quetzal_Express.org/departamentodirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_sesion">
      <soap:operation soapAction="http://Quetzal_Express.org/id_sesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bulkinsert">
      <soap:operation soapAction="http://Quetzal_Express.org/bulkinsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bulkinsert_paquete">
      <soap:operation soapAction="http://Quetzal_Express.org/bulkinsert_paquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bulkinsert_impuesto">
      <soap:operation soapAction="http://Quetzal_Express.org/bulkinsert_impuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechahoy">
      <soap:operation soapAction="http://Quetzal_Express.org/fechahoy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Impuesto">
      <soap:operation soapAction="http://Quetzal_Express.org/Update_Impuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Comision">
      <soap:operation soapAction="http://Quetzal_Express.org/Update_Comision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_datos">
      <soap:operation soapAction="http://Quetzal_Express.org/Update_datos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="despedir_empleado">
      <soap:operation soapAction="http://Quetzal_Express.org/despedir_empleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_cobropeso">
      <soap:operation soapAction="http://Quetzal_Express.org/Update_cobropeso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="impuesto">
      <soap:operation soapAction="http://Quetzal_Express.org/impuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idlote">
      <soap:operation soapAction="http://Quetzal_Express.org/idlote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empleado_sede">
      <soap:operation soapAction="http://Quetzal_Express.org/empleado_sede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacturaImagen">
      <soap:operation soapAction="http://Quetzal_Express.org/FacturaImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquete">
      <soap:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetecliente">
      <soap:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquetecliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetedirec">
      <soap:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquetedirec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetedirecno">
      <soap:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquetedirecno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="conectarServidor">
      <soap12:operation soapAction="http://Quetzal_Express.org/conectarServidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap12:operation soapAction="http://Quetzal_Express.org/Registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="noClinte">
      <soap12:operation soapAction="http://Quetzal_Express.org/noClinte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busqueda_nombre">
      <soap12:operation soapAction="http://Quetzal_Express.org/busqueda_nombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservados_consulta">
      <soap12:operation soapAction="http://Quetzal_Express.org/reservados_consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busqueda_autor">
      <soap12:operation soapAction="http://Quetzal_Express.org/busqueda_autor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busqueda">
      <soap12:operation soapAction="http://Quetzal_Express.org/busqueda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="busquetarjetaexiste">
      <soap12:operation soapAction="http://Quetzal_Express.org/busquetarjetaexiste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usuario_verificar">
      <soap12:operation soapAction="http://Quetzal_Express.org/usuario_verificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empleado_verificar">
      <soap12:operation soapAction="http://Quetzal_Express.org/empleado_verificar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="noEmpleado">
      <soap12:operation soapAction="http://Quetzal_Express.org/noEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_sucursal">
      <soap12:operation soapAction="http://Quetzal_Express.org/select_sucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificar_depa">
      <soap12:operation soapAction="http://Quetzal_Express.org/verificar_depa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_cliente_sesion">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_cliente_sesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_empleado_sesion">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_empleado_sesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_empleado_sede">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_empleado_sede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comision_sede">
      <soap12:operation soapAction="http://Quetzal_Express.org/comision_sede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="peso_sede">
      <soap12:operation soapAction="http://Quetzal_Express.org/peso_sede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_administrador">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_administrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_admin_sede">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_admin_sede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_director">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_director" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_tipo">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_tipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="departamentodirector">
      <soap12:operation soapAction="http://Quetzal_Express.org/departamentodirector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="id_sesion">
      <soap12:operation soapAction="http://Quetzal_Express.org/id_sesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bulkinsert">
      <soap12:operation soapAction="http://Quetzal_Express.org/bulkinsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bulkinsert_paquete">
      <soap12:operation soapAction="http://Quetzal_Express.org/bulkinsert_paquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bulkinsert_impuesto">
      <soap12:operation soapAction="http://Quetzal_Express.org/bulkinsert_impuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechahoy">
      <soap12:operation soapAction="http://Quetzal_Express.org/fechahoy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Impuesto">
      <soap12:operation soapAction="http://Quetzal_Express.org/Update_Impuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Comision">
      <soap12:operation soapAction="http://Quetzal_Express.org/Update_Comision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_datos">
      <soap12:operation soapAction="http://Quetzal_Express.org/Update_datos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="despedir_empleado">
      <soap12:operation soapAction="http://Quetzal_Express.org/despedir_empleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_cobropeso">
      <soap12:operation soapAction="http://Quetzal_Express.org/Update_cobropeso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="impuesto">
      <soap12:operation soapAction="http://Quetzal_Express.org/impuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idlote">
      <soap12:operation soapAction="http://Quetzal_Express.org/idlote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empleado_sede">
      <soap12:operation soapAction="http://Quetzal_Express.org/empleado_sede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FacturaImagen">
      <soap12:operation soapAction="http://Quetzal_Express.org/FacturaImagen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquete">
      <soap12:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetecliente">
      <soap12:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquetecliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetedirec">
      <soap12:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquetedirec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiodeestadopaquetedirecno">
      <soap12:operation soapAction="http://Quetzal_Express.org/cambiodeestadopaquetedirecno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:32693/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:32693/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>